h1{
    text-align: center;
    border: 1px solid rgb(216, 201, 201);
}
p{
    background-color: brown;
}
p.cls{
    color: darkkhaki;
}
.cls1{
    font-size: 200px;
}
h1,p{
    font-family:'Courier New';
    font-weight: bold;
}
body{
    background-image: url("planet.jpg") ;background-repeat: no-repeat; background-size:cover;background-attachment: fixed;

}